.codeEditor {
    border: 1px solid var(--border-color);
    flex:1 1 auto;
    margin-top:0;
    max-height:80vh;
    position:relative;
    overflow: scroll;
    min-width: 400px;
    width: 100%;
}

.buttons {
    padding: 0.6em;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#runButton {
    margin-right: 6px;
}