.output {
    font-family: var(--font-mono);
    border: solid 1px var(--border-color);
    padding: 1rem;
    min-width: 400px;
    max-height: 400px;
    width: 100%;
    overflow: scroll;
    font-size: 0.8em;
}

.output div {
    padding-bottom: 0.4em;
}

.repl, .repl > .output {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}